nav, h1{
  text-align: center;
}

figure{
  text-align: center; 
}
nav a{
  padding: 0 10px 0 10px;
  background-color: green;
}
nav figcaption{
  font-size-adjust: 900px;

}
#featured-property p{
  line-height: 21px;
  width: 800px;
  text-align: center;
  padding: content: '\F01D9';;
}
